Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
SQLAlchemy==2.0.31
gunicorn==23.0.0

python-dotenv==1.0.1

tensorflow==2.20.0
keras==3.15.0

numpy==2.1.3
pandas==2.2.3
scikit-learn==1.7.0
scipy==1.16.0
joblib==1.5.1

opencv-python-headless==4.12.0.88
Pillow==11.3.0

matplotlib==3.10.3

requests==2.32.4

google-generativeai

reportlab
openpyxl
XlsxWriter

tqdm